@font-face {
    font-family: 'Playfair Display';
    src: url(fonts/PlayfairDisplay-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Regular.ttf);
}

/*  =============
    variables 
    =============*/
:root {
    /* Colors */
    --background: #f9fbfd;
    --dark-blue: #12232e;
    --dark-blue-alt: #546b7a;
    --light-blue-hover: #3c6e90;
    /* Fonts */
    --headings-font: 'Playfair Display';
    --body-font: 'Montserrat';
}

/*  =============
    global styles 
    =============*/
html {
    font-size: 100%;
}

body {
    color: var(--dark-blue);
    background-color: var(--background);
    font-family: var(--body-font), sans-serif;
    line-height: 1.5;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav,
main {
    width: 80%;
    margin: 0 auto;
    max-width: 1080px;
}

main {
    margin-bottom: 3rem;
}

img {
    max-width: 100%;
}

/*  =============
    typography 
    =============*/
h1,
h2,
h3 {
    font-family: var(--headings-font), sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    margin: 2rem 0 2rem;
}

h3 {
    font-size: 2rem;
    margin: 1rem 0 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #1576b6;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: var(--light-blue-hover);
}

h4,
legend,
.date,
header p {
    color: var(--dark-blue-alt);
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem 0 1rem;
}

span {
    font-weight: bold;
}

.explainer,
figcaption {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--dark-blue-alt);
}

figcaption {
    text-align: center;
}

/*  =============
    navigation 
    =============*/
nav ul {
    font-size: 1.1rem;
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li,
.dropdown {
    padding: 1.5rem 0;
    margin-left: 3rem;
}

nav a,
.dropdown span {
    color: var(--dark-blue);
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all, 300ms;
}

nav li:first-child {
    margin-right: auto;
    margin-left: 0;
    font-family: var(--headings-font);
    font-size: 1.5rem;
}

nav a:focus,
nav a:hover {
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 0.2rem;
    background-color: var(--background);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem 1rem 1rem;
    z-index: 1;
}

.dropdown-content a {
    line-height: 3;
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
    display: block;
}

/*  =============
    layout 
    =============*/
header {
    color: var(--background);
    background: linear-gradient(
            0deg,
            rgba(18, 35, 46, 0.8),
            rgba(48, 92, 122, 0.7)
        ),
        url(../images/D-12.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.no-image {
    background: none;
    height: 0vh;
}

header h1 {
    order: 2;
}

header p {
    order: 1;
    color: var(--background);
    margin: 0;
}

main {
    margin-top: 3rem;
}

.container {
    margin: 3rem 0;
}

.container-center {
    text-align: center;
}

.about,
.news article:nth-child(3),
.container {
    display: flex;
    gap: 3rem;
}

.content {
    width: 80%;
    align-self: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:nth-child(odd) .content {
    order: 2;
}

.container:nth-child(odd) .image {
    order: 1;
}

.contact-box {
    padding: 2rem;
    border-radius: 10px;
    background-color: #f9fbfd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 2rem 0;
    text-align: center;
}

/* FORM STYLES */
form label {
    display: block;
}

form p {
    font-weight: bold;
}

form ul {
    display: flex;
}

form ul li {
    margin-right: 2rem;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    border: 2px solid transparent;
    padding: 1rem;
    background-color: rgba(84, 107, 122, 0.1);
    border-radius: 10px;
    width: 80%;
    transition: all 0.3s;
    font-family: var(--body-font);
}

input[type='text']:focus,
input[type='text']:hover,
input[type='email']:focus,
input[type='email']:hover,
input[type='tel']:focus,
input[type='tel']:hover,
textarea:focus,
textarea:hover {
    outline: none;
    border: 2px solid var(--dark-blue-alt);
}

input[type='submit'] {
    font-family: var(--body-font);
    width: 30%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--dark-blue-alt);
    color: var(--background);
    transition: all 0.3s;
}

input[type='submit']:focus,
input[type='submit']:hover,
input[type='submit']:active {
    background-color: var(--dark-blue);
    cursor: pointer;
    outline: none;
}

/* TABLE STYLES */
th {
    background-color: var(--dark-blue-alt);
    color: var(--background);
    text-align: left;
    font-weight: bold;
    padding: 1.5rem 1rem;
    letter-spacing: 1px;
}

td {
    padding: 1.5em 1rem;
    border-bottom: 2px solid var(--light-other);
}

tr:nth-child(even) {
    background-color: #ebeef1;
}

/* WEATHER STYLES */
.weather {
    position: absolute;
    top: 12%;
    right: 100%;
    margin-right: -90%;
    padding: 1rem;
    background-color: rgba(18, 35, 46, 0.5);
    border-radius: 10px;
}

.weather p {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: normal;
}

footer {
    background-color: rgba(18, 35, 46, 0.1);
    color: var(--dark-blue-alt);
    padding: 1rem 0;
    margin-top: auto;
    text-align: center;
}

footer p {
    margin-bottom: 0;
    padding: 0.5rem 0;
}

@media screen and (min-width: 1350px) {
    .weather {
        right: 50%;
        margin-right: -540px;
    }
}